#section-form {
  position: absolute;
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #001139;
  position: absolute;
  height: calc(100vh - 100px);
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 80px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &--input {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;

    &-secret {
      width: 250px;
    }
  }
}

.subheading {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  span {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
  }

  &--bet {
    height: 140px;
    width: 100%;

    span {
      font-size: 3em;
      color: white;
      top: 0;
    }
  }
  &--secret,
  &--challenge {
    width: 250px;
    height: 140px;

    &:first-of-type {
      margin-bottom: 20px;
    }

    span {
      font-size: 5em;
      color: #02a5df;
    }
  }
}

.betInput {
  width: 100%;
  height: 100%;
  border: 3px solid #02a5df;
  background-color: #02a5df;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus {
    outline: none;
  }

  &:checked {
    background-color: white;

    & + span {
      color: #ff21d0;
    }
  }
}

.secretInput,
.challengeInput {
  width: 100%;
  height: 100%;
  border: 3px solid #ff21d0;
  background-color: transparent;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }

  &:checked {
    background-color: white;
  }
}

input[type='submit'] {
  font-size: 2em;
}

.bet-rows,
.bet-group {
  display: flex;
  width: 100%;
}

.bet-rows {
  flex-direction: column;
}

.bet-group {
  &:first-of-type {
    margin-bottom: 20px;
  }
}

#challenge-form {
  display: flex;
}

.label--challenge {
  height: 240px;
  width: 240px;
}

@media only screen and (max-width: 768px) {
  #section-form {
    font-size: 0.5em;
    height: auto;
    padding: 0;
  }

  .form {
    &--input {
      flex-direction: column;
    }
    &--group {
      margin: 0;
      padding: 20px;

      &-secret {
        width: 100%;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        label {
          width: 100%;
        }
      }
    }
    .btn {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  #section-challenge {
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    form {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      order: 2;

      .label {
        height: 30vh;
      }
    }
  }
}
